In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
from matplotlib.cm import rainbow

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.svm import SVC

from sklearn.model_selection import GridSearchCV
from sklearn import svm

In [2]:
import keras_metrics

Using TensorFlow backend.

In [3]:
df = pd.read_csv(r'C:\Users\Shardul\Desktop\Machine\new\train_values.csv',sep=',')

In [4]:
df.head()

,patient_id,slope_of_peak_exercise_st_segment,thal,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
0,0z64un,1,normal,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,normal,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,normal,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,reversible_defect,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,reversible_defect,178,1,0,0,2,270,4.2,1,59,145,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 14 columns):
patient_id                              180 non-null object
slope_of_peak_exercise_st_segment       180 non-null int64
thal                                    180 non-null object
resting_blood_pressure                  180 non-null int64
chest_pain_type                         180 non-null int64
num_major_vessels                       180 non-null int64
fasting_blood_sugar_gt_120_mg_per_dl    180 non-null int64
resting_ekg_results                     180 non-null int64
serum_cholesterol_mg_per_dl             180 non-null int64
oldpeak_eq_st_depression                180 non-null float64
sex                                     180 non-null int64
age                                     180 non-null int64
max_heart_rate_achieved                 180 non-null int64
exercise_induced_angina                 180 non-null int64
dtypes: float64(1), int64(11), object(2)
memory usage: 19.8+ KB

In [6]:
df.describe()

,slope_of_peak_exercise_st_segment,resting_blood_pressure,chest_pain_type,num_major_vessels,fasting_blood_sugar_gt_120_mg_per_dl,resting_ekg_results,serum_cholesterol_mg_per_dl,oldpeak_eq_st_depression,sex,age,max_heart_rate_achieved,exercise_induced_angina
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,1.550000,131.311111,3.155556,0.694444,0.161111,1.050000,249.211111,1.010000,0.688889,54.811111,149.483333,0.316667
std,0.618838,17.010443,0.938454,0.969347,0.368659,0.998742,52.717969,1.121357,0.464239,9.334737,22.063513,0.466474
min,1.000000,94.000000,1.000000,0.000000,0.000000,0.000000,126.000000,0.000000,0.000000,29.000000,96.000000,0.000000
25%,1.000000,120.000000,3.000000,0.000000,0.000000,0.000000,213.750000,0.000000,0.000000,48.000000,132.000000,0.000000
50%,1.000000,130.000000,3.000000,0.000000,0.000000,2.000000,245.500000,0.800000,1.000000,55.000000,152.000000,0.000000
75%,2.000000,140.000000,4.000000,1.000000,0.000000,2.000000,281.250000,1.600000,1.000000,62.000000,166.250000,1.000000
max,3.000000,180.000000,4.000000,3.000000,1.000000,2.000000,564.000000,6.200000,1.000000,77.000000,202.000000,1.000000

In [7]:
df['thal']=df['thal'].map({'normal':0,'reversible_defect':1,'fixed_defect':2})

In [8]:
df.columns=["patient_id","slope","thal","rbs","cp","ves","fbs","rese","chol","op","sex","age","max","ang"]

In [9]:
df.head()

,patient_id,slope,thal,rbs,cp,ves,fbs,rese,chol,op,sex,age,max,ang
0,0z64un,1,0,128,2,0,0,2,308,0.0,1,45,170,0
1,ryoo3j,2,0,110,3,0,0,0,214,1.6,0,54,158,0
2,yt1s1x,1,0,125,4,3,0,2,304,0.0,1,77,162,1
3,l2xjde,1,1,152,4,0,0,0,223,0.0,1,40,181,0
4,oyt4ek,3,1,178,1,0,0,2,270,4.2,1,59,145,0

In [11]:
df.drop('patient_id',axis=1,inplace=True)

In [12]:
df = pd.get_dummies(df, columns = ['slope','thal','cp','ves','fbs','rese','sex','ang'])

In [13]:
target = pd.read_csv(r'C:\Users\Shardul\Desktop\Machine\new\train_labels.csv',sep=',')

In [14]:
target.head()

  patient_id  heart_disease_present
0     0z64un                      0
1     ryoo3j                      0
2     yt1s1x                      1
3     l2xjde                      1
4     oyt4ek                      0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 28 columns):
rbs        180 non-null int64
chol       180 non-null int64
op         180 non-null float64
age        180 non-null int64
max        180 non-null int64
slope_1    180 non-null uint8
slope_2    180 non-null uint8
slope_3    180 non-null uint8
thal_0     180 non-null uint8
thal_1     180 non-null uint8
thal_2     180 non-null uint8
cp_1       180 non-null uint8
cp_2       180 non-null uint8
cp_3       180 non-null uint8
cp_4       180 non-null uint8
ves_0      180 non-null uint8
ves_1      180 non-null uint8
ves_2      180 non-null uint8
ves_3      180 non-null uint8
fbs_0      180 non-null uint8
fbs_1      180 non-null uint8
rese_0     180 non-null uint8
rese_1     180 non-null uint8
rese_2     180 non-null uint8
sex_0      180 non-null uint8
sex_1      180 non-null uint8
ang_0      180 non-null uint8
ang_1      180 non-null uint8
dtypes: float64(1), int64(4), uint8(23)
memory usage: 11.2 KB

In [35]:
y = target['heart_disease_present']
X= df
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15)

In [36]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

C:\Users\Shardul\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Shardul\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\Shardul\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.

In [37]:
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D
from keras.layers import Activation, Dropout, Flatten, Dense
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras import regularizers
import warnings

In [38]:
classifier = Sequential()
classifier.add(Dense(128, activation = 'relu', input_dim = 28))
classifier.add(Dropout(0.5))
classifier.add(Dense(128, activation = 'relu'))
classifier.add(Dropout(0.6))
classifier.add(Dense(128, activation = 'relu'))
classifier.add(Dropout(0.5))
classifier.add(Dense(1,  activation = 'sigmoid'))
classifier.compile(optimizer = 'RMSprop', loss = 'binary_crossentropy', metrics = ['accuracy',keras_metrics.recall(),keras_metrics.precision()])

In [39]:
classifier.fit(X_train, y_train, validation_data=[X_test,y_test], epochs = 20)

Train on 153 samples, validate on 27 samples
Epoch 1/20
153/153 [==============================] - 0s 2ms/step - loss: 0.8021 - acc: 0.5033 - recall: 0.4143 - precision: 0.4531 - val_loss: 0.6197 - val_acc: 0.7407 - val_recall: 0.5000 - val_precision: 0.7143
Epoch 2/20
153/153 [==============================] - 0s 102us/step - loss: 0.7683 - acc: 0.4902 - recall: 0.4143 - precision: 0.4394 - val_loss: 0.5771 - val_acc: 0.8519 - val_recall: 0.7000 - val_precision: 0.8750
Epoch 3/20
153/153 [==============================] - 0s 145us/step - loss: 0.6825 - acc: 0.6275 - recall: 0.5714 - precision: 0.5970 - val_loss: 0.5289 - val_acc: 0.8889 - val_recall: 0.7000 - val_precision: 1.0000
Epoch 4/20
153/153 [==============================] - 0s 204us/step - loss: 0.6338 - acc: 0.6667 - recall: 0.6143 - precision: 0.6418 - val_loss: 0.4853 - val_acc: 0.8889 - val_recall: 0.7000 - val_precision: 1.0000
Epoch 5/20
153/153 [==============================] - 0s 102us/step - loss: 0.6352 - acc: 0.6601 - recall: 0.5143 - precision: 0.6667 - val_loss: 0.4533 - val_acc: 0.9259 - val_recall: 0.8000 - val_precision: 1.0000
Epoch 6/20
153/153 [==============================] - 0s 204us/step - loss: 0.6156 - acc: 0.6797 - recall: 0.6429 - precision: 0.6522 - val_loss: 0.4236 - val_acc: 0.8889 - val_recall: 0.7000 - val_precision: 1.0000
Epoch 7/20
153/153 [==============================] - 0s 102us/step - loss: 0.5331 - acc: 0.7582 - recall: 0.6857 - precision: 0.7619 - val_loss: 0.3902 - val_acc: 0.8889 - val_recall: 0.7000 - val_precision: 1.0000
Epoch 8/20
153/153 [==============================] - 0s 102us/step - loss: 0.5008 - acc: 0.7712 - recall: 0.6714 - precision: 0.7966 - val_loss: 0.3585 - val_acc: 0.8889 - val_recall: 0.8000 - val_precision: 0.8889
Epoch 9/20
153/153 [==============================] - 0s 102us/step - loss: 0.5656 - acc: 0.7582 - recall: 0.7286 - precision: 0.7391 - val_loss: 0.3471 - val_acc: 0.8889 - val_recall: 0.8000 - val_precision: 0.8889
Epoch 10/20
153/153 [==============================] - 0s 102us/step - loss: 0.4739 - acc: 0.7908 - recall: 0.7143 - precision: 0.8065 - val_loss: 0.3183 - val_acc: 0.9259 - val_recall: 0.9000 - val_precision: 0.9000
Epoch 11/20
153/153 [==============================] - 0s 204us/step - loss: 0.4065 - acc: 0.7974 - recall: 0.7571 - precision: 0.7910 - val_loss: 0.3082 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 12/20
153/153 [==============================] - 0s 102us/step - loss: 0.4775 - acc: 0.7908 - recall: 0.7000 - precision: 0.8167 - val_loss: 0.3015 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 13/20
153/153 [==============================] - 0s 204us/step - loss: 0.4226 - acc: 0.8039 - recall: 0.7429 - precision: 0.8125 - val_loss: 0.2954 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 14/20
153/153 [==============================] - 0s 102us/step - loss: 0.4537 - acc: 0.8170 - recall: 0.7857 - precision: 0.8088 - val_loss: 0.2927 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 15/20
153/153 [==============================] - 0s 102us/step - loss: 0.4003 - acc: 0.8366 - recall: 0.8143 - precision: 0.8261 - val_loss: 0.2894 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 16/20
153/153 [==============================] - 0s 102us/step - loss: 0.4583 - acc: 0.8039 - recall: 0.8000 - precision: 0.7778 - val_loss: 0.2909 - val_acc: 0.8519 - val_recall: 0.8000 - val_precision: 0.8000
Epoch 17/20
153/153 [==============================] - 0s 102us/step - loss: 0.3750 - acc: 0.8366 - recall: 0.8286 - precision: 0.8169 - val_loss: 0.2870 - val_acc: 0.8519 - val_recall: 0.8000 - val_precision: 0.8000
Epoch 18/20
153/153 [==============================] - 0s 102us/step - loss: 0.4053 - acc: 0.8235 - recall: 0.7857 - precision: 0.8209 - val_loss: 0.2881 - val_acc: 0.8519 - val_recall: 0.8000 - val_precision: 0.8000
Epoch 19/20
153/153 [==============================] - 0s 145us/step - loss: 0.4236 - acc: 0.8497 - recall: 0.8143 - precision: 0.8507 - val_loss: 0.2909 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182
Epoch 20/20
153/153 [==============================] - 0s 204us/step - loss: 0.3991 - acc: 0.8301 - recall: 0.7714 - precision: 0.8437 - val_loss: 0.2912 - val_acc: 0.8889 - val_recall: 0.9000 - val_precision: 0.8182

In [40]:
from sklearn.metrics import log_loss
clf_probs=classifier.predict_proba(X_test)
score=log_loss(y_test,clf_probs)
print(score)

0.2912165258700649

In [22]:
test = pd.read_csv(r'C:\Users\Shardul\Desktop\Machine\new\test_values.csv',sep=',')

In [23]:
test.columns=["patient_id","slope","thal","rbs","cp","ves","fbs","rese","chol","op","sex","age","max","ang"]

In [90]:
test['thal']=test['thal'].map({'normal':0,'reversible_defect':1,'fixed_defect':2})

In [91]:
test.drop('patient_id',axis=1,inplace=True)


test = pd.get_dummies(test, columns = ['slope','thal','cp','ves','fbs','rese','sex','ang'])

In [92]:
test.head()

,rbs,chol,op,age,max,slope_1,slope_2,slope_3,thal_0,thal_1,...,ves_3,fbs_0,fbs_1,rese_0,rese_1,rese_2,sex_0,sex_1,ang_0,ang_1
0,170,288,0.2,59,159,0,1,0,0,1,...,0,1,0,0,0,1,0,1,1,0
1,138,183,1.4,35,182,1,0,0,1,0,...,0,1,0,1,0,0,1,0,1,0
2,120,177,2.5,43,120,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,1
3,102,318,0.0,60,160,1,0,0,1,0,...,0,1,0,1,0,0,1,0,1,0
4,138,166,3.6,61,125,0,1,0,1,0,...,0,1,0,0,0,1,0,1,0,1

In [93]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 28 columns):
rbs        90 non-null int64
chol       90 non-null int64
op         90 non-null float64
age        90 non-null int64
max        90 non-null int64
slope_1    90 non-null uint8
slope_2    90 non-null uint8
slope_3    90 non-null uint8
thal_0     90 non-null uint8
thal_1     90 non-null uint8
thal_2     90 non-null uint8
cp_1       90 non-null uint8
cp_2       90 non-null uint8
cp_3       90 non-null uint8
cp_4       90 non-null uint8
ves_0      90 non-null uint8
ves_1      90 non-null uint8
ves_2      90 non-null uint8
ves_3      90 non-null uint8
fbs_0      90 non-null uint8
fbs_1      90 non-null uint8
rese_0     90 non-null uint8
rese_1     90 non-null uint8
rese_2     90 non-null uint8
sex_0      90 non-null uint8
sex_1      90 non-null uint8
ang_0      90 non-null uint8
ang_1      90 non-null uint8
dtypes: float64(1), int64(4), uint8(23)
memory usage: 5.6 KB

In [94]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
test = sc.fit_transform(test)

C:\Users\Shardul\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Shardul\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [95]:
pred=classifier.predict_proba(test)

In [96]:
pred1=classifier.predict_classes

In [97]:
df3=pd.DataFrame(pred,columns=['1'])

In [76]:
df3

           1
0   0.485898
1   0.014936
2   0.952079
3   0.036855
4   0.971204
5   0.016034
6   0.074431
7   0.951853
8   0.243587
9   0.075636
10  0.086737
11  0.696719
12  0.323779
13  0.981658
14  0.123463
15  0.010284
16  0.003141
17  0.025599
18  0.924251
19  0.035124
20  0.987815
21  0.124277
22  0.134199
23  0.026522
24  0.298748
25  0.974054
26  0.156663
27  0.155829
28  0.680034
29  0.013099
..       ...
60  0.081072
61  0.968427
62  0.173305
63  0.979046
64  0.104409
65  0.881841
66  0.911780
67  0.723621
68  0.869550
69  0.871492
70  0.074935
71  0.988142
72  0.966269
73  0.993858
74  0.960616
75  0.985174
76  0.917965
77  0.932935
78  0.390052
79  0.681162
80  0.776032
81  0.016658
82  0.552686
83  0.856441
84  0.182314
85  0.016639
86  0.817473
87  0.307757
88  0.175718
89  0.138505

[90 rows x 1 columns]

In [77]:
df2=pd.DataFrame(pred,columns=['1'])

In [78]:
df2

           1
0   0.485898
1   0.014936
2   0.952079
3   0.036855
4   0.971204
5   0.016034
6   0.074431
7   0.951853
8   0.243587
9   0.075636
10  0.086737
11  0.696719
12  0.323779
13  0.981658
14  0.123463
15  0.010284
16  0.003141
17  0.025599
18  0.924251
19  0.035124
20  0.987815
21  0.124277
22  0.134199
23  0.026522
24  0.298748
25  0.974054
26  0.156663
27  0.155829
28  0.680034
29  0.013099
..       ...
60  0.081072
61  0.968427
62  0.173305
63  0.979046
64  0.104409
65  0.881841
66  0.911780
67  0.723621
68  0.869550
69  0.871492
70  0.074935
71  0.988142
72  0.966269
73  0.993858
74  0.960616
75  0.985174
76  0.917965
77  0.932935
78  0.390052
79  0.681162
80  0.776032
81  0.016658
82  0.552686
83  0.856441
84  0.182314
85  0.016639
86  0.817473
87  0.307757
88  0.175718
89  0.138505

[90 rows x 1 columns]

In [80]:
test = pd.read_csv(r'C:\Users\Shardul\Desktop\Machine\new\test_values.csv',sep=',')

In [81]:
x=test.iloc[:,0:1]

In [82]:
x["heart_disease_present"]=df2

In [83]:
x

   patient_id  heart_disease_present
0      olalu7               0.485898
1      z9n6mx               0.014936
2      5k4413               0.952079
3      mrg7q5               0.036855
4      uki4do               0.971204
5      kev1sk               0.016034
6      9n6let               0.074431
7      jxmtyg               0.951853
8      51s2ff               0.243587
9      wi9mcs               0.075636
10     741h4l               0.086737
11     1ef64a               0.696719
12     wa2ix6               0.323779
13     8167zl               0.981658
14     n6nldr               0.123463
15     ph85fp               0.010284
16     jfan5p               0.003141
17     7c4iz1               0.025599
18     ukigml               0.924251
19     flwvnq               0.035124
20     5i4fw2               0.987815
21     du1pqf               0.124277
22     vs68qz               0.134199
23     pfyez0               0.026522
24     azvkw2               0.298748
25     cird1i               0.974054
26     3bg32t               0.156663
27     xzd050               0.155829
28     eyi8et               0.680034
29     ce4x2h               0.013099
..        ...                    ...
60     tgpy9u               0.081072
61     pf5wp6               0.968427
62     cj8vj2               0.173305
63     9w6d9j               0.979046
64     3l89wd               0.104409
65     83a6x1               0.881841
66     oua0gr               0.911780
67     j0hl96               0.723621
68     dlkzyg               0.869550
69     r0w4a8               0.871492
70     46dlca               0.074935
71     9fkefu               0.988142
72     6uk6kl               0.966269
73     c7olxr               0.993858
74     iiyx0q               0.960616
75     25vetx               0.985174
76     073vc5               0.917965
77     18abn0               0.932935
78     v5fsfs               0.390052
79     2ekoo7               0.681162
80     5bbknr               0.776032
81     hr6pjx               0.016658
82     r4hsar               0.552686
83     4cezdf               0.856441
84     palhcc               0.182314
85     bwoyg6               0.016639
86     j8i7ve               0.817473
87     t2zn1n               0.307757
88     oxf8kj               0.175718
89     aeiv0y               0.138505

[90 rows x 2 columns]

In [84]:
export_csv=x.to_csv('C:\Downloads\sub10.csv',index=None,header=True)